.box {
  width: 50px;
  height: 50px;
  background-color: #ffa200;
  margin: 10px;
}
.h {
  display: flex;
  align-items: center;
}
.hit {
  display: flex;
  align-items: center;
}
.t {
  display: flex;
}
.ba {
  display: flex;
}
.box1 {
  background-color: white;
}

.pink {
  background-color: pink;
  height: 40px;
}

main,
.left_foot {
  display: flex;
}

.left,
.right {
  width: 50%;
}
.left_left {
  width: 100%;
}
.left_head {
  width: 100%;
  height: 300px;
  background-color: #3fd6a7;
}
.red {
  width: 100%;
  height: 130px;
  background: red;
}
.orange {
  background: orange;
  width: 100%;
  height: 170px;
}
.left_right {
  background-color: #ff26ff;
  width: 100%;
  height: 300px;
}

.right2,
.right4 {
  width: 100%;
  height: 10%;
}
.right2 {
  background-color: yellow;
}
.right3 {
  /* height: 60%; */
  display: flex;
  width: 100%;
  height: 60%;
}
.right4 {
  background: #ce9c5d;
}
.right1 {
  display: flex;
  height: 20%;
}
.tim1 {
  width: 80%;
  height: 100%;
  background: #86157f;
}
.tim2 {
  width: 20%;
  height: 100%;
  background: green;
}
.a {
  width: 100%;
  height: 100%;
  background: #007383;
}
.b {
  width: 100%;
  height: 100%;
  background: red;
}
footer {
  background: #000;
  width: 100%;
  height: 60px;
}
