@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13.6px;
  font-weight: 700;
}

button {
  border: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #f4623a;
  --text-color: #6c757d;
  --light-text-color: rgba(255, 255, 255, 0.75);
  --white-color: #fff;
  --black-color: #000;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-text-color {
  color: var(--light-text-color);
}

.text-color {
  color: var(--text-color);
}

.white-text-color {
  color: var(--white-color);
}

body {
  width: 100%;
  height: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: transparent;
  box-shadow: none;
  z-index: 99;
}

.navigation--mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: var(--white-color);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.2);
  z-index: 99;
}

.nav--btn {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  position: relative;
  padding: 20px;
  cursor: pointer;
}
.nav--btn i {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation--mobile .logo {
  color: #212529;
}

.navigation--mobile .navbar__list {
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navigation--mobile .navbar__list.display {
  transform: scale(1);
}

.navigation--mobile .navbar__list .nav__link:hover {
  color: var(--primary-color);
}

.navigation.sticky {
  background-color: var(--white-color);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.2);
}

.navigation.sticky .logo,
.navigation.sticky .nav__link {
  color: #212529;
}

.navigation.sticky .nav__link:hover {
  color: var(--primary-color);
}

.justify-content-berween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.navbar__list {
  font-family: 'Merriweather', serif;
  font-size: 14.4px;
  font-weight: 700;
  justify-content: space-between;
}
.nav__link {
  display: block;
  padding: 10px 20px;
  transition: 0.3s;
}

.nav__link.active {
  color: var(--primary-color) !important;
}

.nav__link:hover {
  color: var(--white-color);
}

.header {
  height: 100vh;
  /* background-color: rgba(92, 77, 66, 0.6); */
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url('https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg')
      center no-repeat;
  background-size: cover;
  position: relative;
}
.header__wraper,
.about__wraper {
  width: 45vw;
  text-align: center;
}

.header__heading {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: var(--white-color);
  margin: 20px 0;
  text-align: center;
}
.o-hightlight,
.w-hightlight {
  height: 3px;
  width: 50px;
}
.o-hightlight {
  background-color: var(--primary-color);
}
.w-hightlight {
  background-color: var(--white-color);
}

.header__tittle {
  font-family: 'Merriweather', serif;
  font-size: 18.4px;
  font-weight: 500;
  margin: 20px 0;
}

.header--btn {
  padding: 20px 30px;
  background-color: var(--primary-color);
  border-radius: 5000px;
  margin-top: 40px;
}

#about {
  background-color: var(--primary-color);
  padding: 100px 0;
}

.section__heading {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

.section__tittle {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}

.section__link {
  color: var(--black-color);
  padding: 20px 40px;
  background-color: var(--white-color);
  border-radius: 5000px;
  margin-top: 40px;
}

#services {
  padding: 150px 0;
}
.services__features {
  padding: 50px 0;
}

.feature__item {
  width: 25%;
}

.feature__item__icon {
  color: var(--primary-color);
  font-size: 40px;
}

.feature__item__heading {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}

.feature__item__tittle {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #6c757d;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* .category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
} */

.category__item {
  width: 33.333333333333333%;
  position: relative;
  cursor: pointer;
}

.category__item:hover .category-box-caption {
  opacity: 1;
}

.category-box-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(244, 98, 58, 0.85);
  opacity: 0;
  transition: 0.3s;
}
.category__img {
  width: 100%;
  height: 100%;
}

.category-name {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.project-name {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 500;
}

.download {
  background-color: #212529;
  padding: 100px 0;
}

#contact {
  width: 50vw;
  margin: 0 auto;
  padding: 100px 0;
}

.contact__form {
  padding: 50px 0;
  width: 70%;
}

.form__group {
  width: 100%;
  position: relative;
}

.form__group input,
.form__group textarea {
  width: 100%;
  padding: 20px 0 20px 25px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  appearance: none;
  outline: none;
  transition: 0.3s;
  font-size: 20px;
}

.form__group label {
  position: absolute;
  top: 20px;
  left: 25px;
  transition: 0.3s;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.form__group input:focus ~ label,
.form__group textarea:focus ~ label {
  transform: translate(0, -100%);
  color: var(--text-color);
  font-size: 14px;
}

/* hidden placeholder */
input::placeholder,
textarea::placeholder {
  transform: translate(-1000px, 0);
}

input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  transform: translate(0, -100%);
  color: var(--text-color);
  font-size: 14px;
}

.message {
  display: block;
  height: 30px;
  position: relative;
}

.message::before {
  position: absolute;
}

input:invalid ~ .message::before {
  content: attr(data-invalid);
  color: var(--primary-color);
}

.submit-form--btn {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}

.mobile__icon {
  width: 16px;
  height: 30px;
  border: 3px solid var(--text-color);
  border-radius: 3px;
  position: relative;
}

.mobile__icon::before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 3px;
  transform: translate(-50%, 0);
}

.contact__phone span {
  margin: 20px;
}

.footer {
  padding: 35px 0;
  background-color: #f8f9fa;
  font-family: 'Merriweather', serif;
}

/* overlay css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
}
.overlay.hide {
  display: none;
}

/* categor detail css */
.category__detail.hide {
  display: none;
}

.category__detail {
  z-index: 100;
}

.category__detail__content {
  position: relative;
}

.close-category__detail {
  position: absolute;
  right: 0;
  transform: translate(0, -80%);
}

.category__detail__content__img {
  display: none;
}

.category__detail__content__img.display {
  display: inline-block;
  animation: display 0.3s linear;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.category__detail__content__img.next-slide {
  display: inline-block;
  animation: next-slide 0.5s linear;
}

@keyframes next-slide {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.category__detail__content__img.prev-slide {
  display: inline-block;
  animation: prev-slide 0.5s linear;
}

@keyframes prev-slide {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.category__detail button {
  background-color: transparent;
  font-size: 50px;
  color: var(--light-text-color);
  padding: 30px;
  transition: 0.1s;
}

.category__detail__control button {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.category__detail button:hover {
  opacity: 0.7;
}

.prev-category__detail {
  left: 0;
}

.next-category__detail {
  right: 0;
}
