@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap");

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  // background: linear-gradient(90deg, rgb(99, 98, 217), rgb(143, 147, 238));
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // height: 100vh;

  // .heading,
  // .tilte_heading {
  //   color: white;
  //   font-family: "Roboto", sans-serif;
  // }
  // .heading {
  //   font-size: 30px;
  //   margin-top: 50px;
  // }
  // .tilte_heading {
  //   font-size: 24px;
  //   margin-bottom: 20px;
  // }
  .card {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(-45deg, #e3f0f8, #f8f4f9);
    font-family: "Maven Pro", sans-serif;
    box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.2);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0 0 100px;
      .logo {
        display: flex;
        .logo_icon {
          .laptop-icon {
            position: relative;
            font-size: 50px;
            i {
              position: absolute;
              font-size: 20px;
              color: #5d60d6;
              left: 50%;
              top: 20%;
              transform: translateX(-50%);
            }
          }
        }
        .logo_text {
          margin-left: 10px;
          h3 {
            font-weight: bold;
          }
          .first-child {
            color: #6161c8;
          }
        }
      }

      .navbar {
        display: flex;
        box-shadow: -5px -5px 15px 0px rgba(0, 0, 0, 0.2);
        background: linear-gradient(
          90deg,
          rgb(96, 96, 217),
          rgb(147, 153, 241)
        );
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        .item {
          padding: 15px 30px;
          cursor: pointer;
          color: white;
        }
        .item-search {
          position: relative;
          .search {
            border-radius: 10px;
            border: none;
            outline: none;
            padding: 5px 0 5px 20px;
          }
          i {
            position: absolute;
            color: #8f94ef;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
          }
        }
        .item--active {
          position: relative;
          &::after {
            content: "";
            background-color: white;
            height: 4px;
            width: 50%;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0 0 100px;
      .left {
        width: 35%;
        .lets {
          color: #474546;
          font-size: 40px;
          // margin-bottom: -15px;
        }
        .elearning {
          color: #5d5dd9;
          font-size: 70px;
          font-weight: bold;
          // margin-bottom: -10px;
        }
        .atyourhome {
          color: #474546;
          font-size: 40px;
          font-weight: bold;
        }
        .lorem {
          color: #777777;
          margin: 15px 0;
        }
        .buttons {
          display: flex;
          align-items: center;
          button {
            margin: 20px 20px 0 0;
            padding: 10px 30px;
            border-radius: 1000px;
            border: none;
            font-weight: bold;
            cursor: pointer;
          }
          .apply {
            background: linear-gradient(
              90deg,
              rgb(96, 96, 217),
              rgb(147, 153, 241)
            );
            color: white;
          }
          .readmore {
            color: #777777;
            background-color: white;
            border: 2px solid rgb(96, 96, 217);
            transition: 0.2s;
            &:hover {
              background: linear-gradient(
                90deg,
                rgb(96, 96, 217),
                rgb(147, 153, 241)
              );
              color: white;
              border-color: white;
            }
          }
        }
      }
      .right {
        width: 50%;
        img {
          display: inline-block;
          width: 65%;
          height: 65%;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 30px 20px 100px;
      .network-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon-wrapper {
          margin: 0 5px;
          border: 1px solid #7373de;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          position: relative;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            background: linear-gradient(
              90deg,
              rgb(96, 96, 217),
              rgb(147, 153, 241)
            );
            i {
              color: white;
            }
          }
          i {
            color: #7373de;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s;
          }
        }
      }
      .connect-admin {
        // height: 50px;
        // width: 50px;
        // border-radius: 50%;
        // background-color: #7373de;
        // position: relative;
        cursor: pointer;
        i {
          font-size: 30px;
          color: white;
          position: relative;
          border-top: 15px solid #7e7fdd;
          border-left: 15px solid #7e7fdd;
          border-bottom: 15px solid #5f5dda;
          border-right: 15px solid #5f5dda;
          border-radius: 50%;
          transform: rotate(-45deg);
          .tridots {
            font-size: 24px;
            color: #7373de;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
    }
  }
}
